* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #064663;
    opacity: 0.7;
    background-image: radial-gradient(circle at center center, #ffffff, #064663), repeating-radial-gradient(circle at center center, #ffffff, #ffffff, 29px, transparent 58px, transparent 29px);
    background-blend-mode: multiply;
}
.containerHead {
    display: flex;
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: #041c32;
}
.logoHead {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #ffffff;
}
.nav {
    display: flex;
    align-items: center;
}
.nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #ffffff;
}
main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
    background-color: #d0c9c0;
}
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.form_Label {
    display: block;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}
.formulario_Grupo_Input {
    position: relative;
}
.form_Input {
    width: 100%;
    background-color: #ffffff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
.form_Input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163 163 163, 0.4);
}
.form_Input_Error {
    display: none;
    font-size: 12px;
    margin-bottom: 0;
}
.form_Input_Error-activo {
    display: block;
}
.form_Radio {
    margin-right: 5px;
}
.form_Checkbox {
    margin-right: 5px;
}
.form_Comentario, .form_Mensaje, .form_Grupo_Boton_Enviar {
    grid-column: span 2;
}
.form_Comentario {
    display: flex;
    flex-direction: column;
}
.form_Mensaje {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.form_Mensaje-activo {
    display: block;
}
.form_Mensaje p {
    margin: 0;
}
.form_Grupo_Boton_Enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_Boton {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}
.form_Boton:hover {
    box-shadow: 3px 0px 30px rgba(163 163 163, 1);
}
.form_Mensaje_Exito {
    font-size: 14px;
    color: #119200;
    display: none;
}
.form_Mensaje_Exito-activo {
    display: block;
}

/* Estilo para la validacion */

.form_Grupo-correcto .form_Label{
    color: #1ed12d;
    opacity: 1;
}
.form_Grupo-correcto .form_Input {
    border: 3px solid #1ed12d;
}
.form_Grupo-incorrecto .form_Label{
    color: #bb2929;
}
.form_Grupo-incorrecto .form_Input {
    border: 3px solid #bb2929;
}
.footer {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: #ecb365;
}

/* Vista de Celular */
@media (max-width: 768px) {
    .containerHead {
        flex-direction: column;
    }
    .logoHead {
        width: 100%;
    }
    .nav {
        justify-content: space-between;
        width: 100%;
    }
    .formulario {
        grid-template-columns: 1fr;
    }
    .form_Comentario, .form_Mensaje, .form_Grupo_Boton_Enviar {
        grid-column: span 1;
    }
    .form_Boton {
        width: 100%;
    }
}
/* Vista de PC */
@media (min-width: 769px) {
    .containerHead {

    }
    .logoHead {
        justify-content: left;
        width: 50%;
    }
    .nav {
        width: 50%;
        justify-content: flex-end;
        margin-left: 15px;
    }
}